<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!--<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>-->
<link rel="stylesheet" href="{{ url_for('static', filename='website_style.css') }}">

 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- OWN CSS -->

<head>
    <meta charset="UTF-8">
    <title>SNJBIA Chatbot</title>
</head>
<body>


<header>
	<nav class="navbar navbar-expand-lg navigation-wrap">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../static/images/chatbot.jpg" style="height: 9.6345rem; margin-top: 0%;width: 8.6345rem;" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
     <i class="fas fa-stream navbar-toggler-icon"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
     <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/developers">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stud">Student Login</a>
        </li>


      </li>
      <li class="nav-item">
        <a class="nav-link" href="#explore-food">Book Table</a>
      </li>

               <li class="nav-item">
          <a class="nav-link" href="/stud">FAQ</a>
        </li>
       <li><button class="main-btn">College Website</button></li>
      </ul>
    </div>
  </div>
</nav>
</header>


<!-- Section 1 Top-Banner-->
<section id="explore-food">
  <div class="explore-food wrapper" style="top:50px">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-content text-center">
            <h1>About Developers</h1>
          </div>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5 mt-5">
        <div class="card">
          <img src="../static/images/pooja.jpg" class="img-fluid" >
            <div class="pt-3">
              <h4>Pooja Deshmukh</h4>
               <p class="center">
                  <a href="https://www.linkedin.com/in/pooja-deshmukh-8570b5215" style="margin:15px;" title="Linkedin"><i style="background-color:white;color:black;" class="fas fa-brands fa-linkedin"></i></a>
               <a href="https://github.com/PoojaDeshmukhpd" style="margin:15px;" title="Github"><i style="background-color:white;color:black;" class="fa-brands fa-github"></i></a>
              <a href="https://poojadeshmukhpd.github.io/Pooja-Deshmukh/" style="margin:15px;" title="Portfolio"><i style="background-color:white;color:black;" class="fa-solid fa-link"></i></a>
              </p>
<!--              <span>Linkedin</span>-->
              <button class="mt-4 main-btn">See Profile</button>
            </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5 mt-5">
        <div class="card">
                   <img src="../static/images/kalyani.jpg" class="img-fluid" >

            <div class="pt-3">
              <h4>Kalyani Ahire</h4>
               <p class="center">
                  <a href="https://www.linkedin.com/in/kalyani-ahire-050038215/" style="margin:15px;" title="Linkedin"><i style="background-color:white;color:black;" class="fas fa-brands fa-linkedin"></i></a>
               <a href="https://github.com/Kalyaniahire" style="margin:15px;" title="Github"><i style="background-color:white;color:black;" class="fa-brands fa-github"></i></a>
              <a href="https://kalyaniahire.github.io/Kalyaniwebsite.github.io/" style="margin:15px;" title="Portfolio"><i style="background-color:white;color:black;" class="fa-solid fa-link"></i></a>
              </p>

<!--              <span>Linkedin</span>-->
              <button class="mt-4 main-btn">See Profile</button>
            </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5 mt-5">
        <div class="card">
                <img src="../static/images/govinda.jpg" class="img-fluid" >
            <div class="pt-3">
             <h4 class="center">Govinda Chastwe</h4>
              <p class="center">
                  <a href="https://poojadeshmukhpd.github.io/restaurant/" style="margin:15px;" title="Linkedin"><i style="background-color:white;color:black;" class="fas fa-brands fa-linkedin"></i></a>
               <a href="https://poojadeshmukhpd.github.io/restaurant/" style="margin:15px;" title="Github"><i style="background-color:white;color:black;" class="fa-brands fa-github"></i></a>
              <a href="https://poojadeshmukhpd.github.io/restaurant/" style="margin:15px;" title="Portfolio"><i style="background-color:white;color:black;" class="fa-solid fa-link"></i></a>
              </p>

<!--              <span>Linkedin</span>-->
              <button class="mt-4 main-btn">See Profile</button>
            </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5 mt-5">
        <div class="card">
              <img src="../static/images/pratibha.jpg" class="img-fluid" >

            <div class="pt-3">
              <h4>Pratibha Chavan</h4>
              <p class="center">
                  <a href="https://poojadeshmukhpd.github.io/restaurant/" style="margin:15px;" title="Linkedin"><i style="background-color:white;color:black;" class="fas fa-brands fa-linkedin"></i></a>
               <a href="https://poojadeshmukhpd.github.io/restaurant/" style="margin:15px;" title="Github"><i style="background-color:white;color:black;" class="fa-brands fa-github"></i></a>
              <a href="https://poojadeshmukhpd.github.io/restaurant/" style="margin:15px;" title="Portfolio"><i style="background-color:white;color:black;" class="fa-solid fa-link"></i></a>
              </p>
<!--              <span>Linkedin</span>-->
              <button class="mt-4 main-btn">See Profile</button>
            </div>
        </div>
      </div>

    </div>
  </div>
  </div>
</section>


<div class="container">
    <div class="chatbox" >
        <div class="chatbox__support" id="e1">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support SNJBIA</h4>
                    <p class="chatbox__description--header">Hi. My name is SNJBIA. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
                    <button class="chatbox__send--footer voice__button" onclick="/voice" >Record Voice</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
        </div>
    </div>
</div>





    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>